venv/
.idea/
*.DS_Store
.Python
/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-wheel-metadata/
.python-version
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.aws-sam
package-lock.json
